USE [master]
GO
/****** Object:  Database [taprim]    Script Date: 6/2/2025 6:19:00 PM ******/
CREATE DATABASE [taprim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'taprim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\taprim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'taprim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\taprim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [taprim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [taprim]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/2/2025 6:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](100) NOT NULL,
	[parentId] [int] NULL,
	[createAt] [datetime] NULL,
 CONSTRAINT [Category_pk] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 6/2/2025 6:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[couponId] [int] NOT NULL,
	[couponCode] [varchar](10) NULL,
	[discountPercent] [int] NULL,
	[validFrom] [datetime] NULL,
	[validUntil] [datetime] NULL,
	[isActive] [bit] NULL,
	[createAt] [int] NULL,
	[remainTurn] [int] NOT NULL,
 CONSTRAINT [Coupon_pk] PRIMARY KEY CLUSTERED 
(
	[couponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/2/2025 6:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[totalAmount] [decimal](18, 0) NULL,
	[couponId] [int] NULL,
	[productId] [int] NOT NULL,
	[productAccountId] [int] NULL,
	[status] [int] NULL,
	[createAt] [datetime] NULL,
	[updateAt] [datetime] NULL,
	[remainGetCode] [int] NOT NULL,
 CONSTRAINT [Order_pk] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 6/2/2025 6:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[transactionCode] [varchar](20) NOT NULL,
	[paymentMethod] [int] NULL,
	[paidDateAt] [datetime] NULL,
	[createAt] [datetime] NOT NULL,
	[userId] [int] NULL,
	[amount] [decimal](18, 0) NOT NULL,
	[note] [nvarchar](max) NULL,
	[status] [int] NULL,
 CONSTRAINT [Payment_pk] PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/2/2025 6:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[discountPercentDisplay] [int] NULL,
	[productName] [nvarchar](200) NOT NULL,
	[status] [int] NOT NULL,
	[price] [float] NOT NULL,
	[categoryId] [int] NOT NULL,
	[attentionNote] [nvarchar](max) NULL,
	[description] [int] NULL,
	[productImage] [varchar](max) NOT NULL,
	[productCode] [varchar](20) NULL,
 CONSTRAINT [table_name_pk] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAccount]    Script Date: 6/2/2025 6:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAccount](
	[productAccountId] [int] IDENTITY(1,1) NOT NULL,
	[productId] [int] NOT NULL,
	[accountData] [nvarchar](max) NULL,
	[usernameProductAccount] [nvarchar](max) NULL,
	[passwordProductAccount] [nvarchar](max) NULL,
	[status] [int] NOT NULL,
	[dateChangePass] [datetime] NULL,
	[sellCount] [int] NULL,
	[note] [nvarchar](max) NULL,
 CONSTRAINT [ProductAccount_pk] PRIMARY KEY CLUSTERED 
(
	[productAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempMailEmailStore]    Script Date: 6/2/2025 6:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempMailEmailStore](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[email_id] [varchar](10) NOT NULL,
 CONSTRAINT [TempMailEmailStore_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/2/2025 6:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](30) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[isEnable] [bit] NOT NULL,
	[createAt] [datetime] NULL,
	[phone] [varchar](11) NULL,
	[role] [varchar](40) NOT NULL,
 CONSTRAINT [User_pk] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryId], [categoryName], [parentId], [createAt]) VALUES (1, N'Canva', NULL, CAST(N'2025-05-24T10:28:06.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Coupon] ([couponId], [couponCode], [discountPercent], [validFrom], [validUntil], [isActive], [createAt], [remainTurn]) VALUES (1, N'test', 43, CAST(N'2025-06-01T18:35:11.000' AS DateTime), CAST(N'2025-09-01T18:35:17.000' AS DateTime), 1, NULL, 5)
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderId], [userId], [totalAmount], [couponId], [productId], [productAccountId], [status], [createAt], [updateAt], [remainGetCode]) VALUES (4, 1, CAST(3 AS Decimal(18, 0)), 1, 1, 1, 0, CAST(N'2025-06-01T11:35:33.007' AS DateTime), CAST(N'2025-06-01T11:35:33.007' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([paymentId], [orderId], [transactionCode], [paymentMethod], [paidDateAt], [createAt], [userId], [amount], [note], [status]) VALUES (1, 4, N'TP W25W', 1, NULL, CAST(N'2025-06-01T11:35:33.287' AS DateTime), 1, CAST(3 AS Decimal(18, 0)), NULL, 0)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productId], [discountPercentDisplay], [productName], [status], [price], [categoryId], [attentionNote], [description], [productImage], [productCode]) VALUES (1, NULL, N'Canva', 1, 100, 1, NULL, NULL, N'/images/products/5d230c34-e0d0-485b-ad1f-c3607072518a_2092016.jpg', N'canva')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAccount] ON 

INSERT [dbo].[ProductAccount] ([productAccountId], [productId], [accountData], [usernameProductAccount], [passwordProductAccount], [status], [dateChangePass], [sellCount], [note]) VALUES (1, 1, N'fas', N'string', N'string', 1, NULL, 1, NULL)
INSERT [dbo].[ProductAccount] ([productAccountId], [productId], [accountData], [usernameProductAccount], [passwordProductAccount], [status], [dateChangePass], [sellCount], [note]) VALUES (2, 1, N'string', N'string', N'string', 0, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[ProductAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userId], [username], [password], [isEnable], [createAt], [phone], [role]) VALUES (1, N'admin', N'admin', 1, CAST(N'2025-06-01T18:34:17.000' AS DateTime), N'0344665098', N'0')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([parentId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Order__couponId_fk] FOREIGN KEY([couponId])
REFERENCES [dbo].[Coupon] ([couponId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Order__couponId_fk]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Order__productAccountId_fk] FOREIGN KEY([productAccountId])
REFERENCES [dbo].[ProductAccount] ([productAccountId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Order__productAccountId_fk]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Order__productId_fk] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Order__productId_fk]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [Order__userId_fk] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [Order__userId_fk]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [Payment__orderId_fk] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [Payment__orderId_fk]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [Payment__userId_fk] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [Payment__userId_fk]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [Product_Category__fk] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [Product_Category__fk]
GO
ALTER TABLE [dbo].[ProductAccount]  WITH CHECK ADD  CONSTRAINT [ProductAccount_Product__fk] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[ProductAccount] CHECK CONSTRAINT [ProductAccount_Product__fk]
GO
USE [master]
GO
